/** Blog Masonry
 **************************************************************** **/
#blog .masonry-item {
	margin: 2% 2% 0 0;
	position: relative;
	float: left; min-height: 1px;
	width:31.3%; overflow:hidden;
}
