<% title 'All students' %>
<% description 'All students applications' %>

<div class="fullwidthbanner-container">
  <div class="fullwidthbanner ken-burns">
    <ul>

      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="400" data-delay="5000" >
        <!-- MAIN IMAGE -->
        <img src="/assets/university1.jpg"  alt="kenburns2"  data-bgposition="left bottom" data-kenburns="on" data-duration="10000" data-ease="Power0.easeIn" data-bgfit="120" data-bgfitend="100" data-bgpositionend="right top">
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption large_bg_black customin customout tp-resizeme"
             data-x="center" data-hoffset="0"
             data-y="bottom" data-voffset="-70"
             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-speed="500"
             data-start="400"
             data-easing="Power4.easeOut"
             data-end="1500"
             data-endspeed="500"
             data-endeasing="Power4.easeIn"
             style="z-index: 2; background-color: #3481b4 !important;">Education is a road to success
        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption large_bg_black customin stl tp-resizeme"
             data-x="center" data-hoffset="0"
             data-y="bottom" data-voffset="-70"
             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-speed="300"
             data-start="2000"
             data-easing="Back.easeOut"
             data-end="3000"
             data-endspeed="500"
             data-endeasing="Power4.easeIn"
             style="z-index: 3; background-color: #3481b4 !important;">Help students realize their smart dreams!
        </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption large_bg_black customin customout tp-resizeme"
             data-x="center" data-hoffset="0"
             data-y="bottom" data-voffset="-70"
             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-customout="x:0;y:180;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-speed="300"
             data-start="3500"
             data-easing="Back.easeOut"
             data-endspeed="300"
             data-endeasing="Back.easeIn"
             style="z-index: 4; background-color: #3481b4 !important;">Donate some money to cover tuition fee
        </div>
      </li>

      <!-- SLIDE  -->
      <li data-transition="flyin" data-slotamount="1" data-masterspeed="1000" >
        <!-- MAIN IMAGE -->
        <img src="/assets/university2.jpg"  alt="kenburns2"  data-bgposition="left bottom" data-kenburns="on" data-duration="10000" data-ease="Power0.easeIn" data-bgfit="120" data-bgfitend="100" data-bgpositionend="right top">
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption large_bg_black lfl customout tp-resizeme"
             data-x="100"
             data-y="bottom" data-voffset="-142"
             data-customout="x:0;y:180;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-speed="1000"
             data-start="2300"
             data-easing="Power4.easeInOut"
             data-endspeed="300"
             style="z-index: 2; background-color: #3481b4 !important;">Empowering people across the world is easy and rewarding!
        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption large_bg_black lfl customout tp-resizeme"
             data-x="100"
             data-y="143"
             data-customout="x:0;y:180;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-speed="1000"
             data-start="2000"
             data-easing="Power4.easeInOut"
             data-endspeed="300"
             style="z-index: 3; background-color: #3481b4 !important;">Education is a road to success
        </div>
      </li>

      <!-- SLIDE  -->
      <li data-transition="cube" data-slotamount="6" data-masterspeed="200" data-delay="7000" >
        <!-- MAIN IMAGE -->
        <img src="/assets/university3.jpg"  alt="kenburns11"  data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="115" data-bgfitend="115" data-bgpositionend="right bottom">
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption large_bg_black customin stt tp-resizeme"
             data-x="center" data-hoffset="0"
             data-y="180"
             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-speed="600"
             data-start="500"
             data-easing="Back.easeOut"
             data-end="3000"
             data-endspeed="300"
             style="z-index: 2; background-color: #3481b4 !important;">Donate money in one click
        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption large_bg_black sfb stt tp-resizeme"
             data-x="center" data-hoffset="0"
             data-y="180"
             data-speed="600"
             data-start="3300"
             data-easing="Back.easeOut"
             data-endspeed="300"
             style="z-index: 3; background-color: #3481b4 !important;">Fundraising is easy and rewarding
        </div>


      </li>

      <!-- SLIDE  -->
      <li data-transition="cube" data-slotamount="6" data-masterspeed="200" data-delay="7000" >
        <!-- MAIN IMAGE -->
        <img src="/assets/university4.jpg"  alt="kenburns11"  data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="115" data-bgfitend="115" data-bgpositionend="right bottom">
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption large_bg_black customin stt tp-resizeme"
             data-x="center" data-hoffset="0"
             data-y="180"
             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-speed="600"
             data-start="500"
             data-easing="Back.easeOut"
             data-end="3000"
             data-endspeed="300"
             style="z-index: 2; background-color: #3481b4 !important;">Empower students across the world
        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption large_bg_black sfb stt tp-resizeme"
             data-x="center" data-hoffset="0"
             data-y="180"
             data-speed="600"
             data-start="3300"
             data-easing="Back.easeOut"
             data-endspeed="300"
             style="z-index: 3; background-color: #3481b4 !important;">Donate money in one click
        </div>


      </li>

    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</div>
<!-- /REVOLUTION SLIDER -->



<section class="container text-center">
  <h1 class="text-center">
    Help students realize their smart dreams!
  </h1>
  <p class="lead">
    Empowering people across the world is easy and rewarding!<br>
    Just donate some money to cover someone’s tuition fee.
  </p>
</section>

<br />

<section id="portfolio" class="container">
  <h2>Students looking for help:</h2>

  <div class="row">
    <ul class="sort-destination isotope" data-sort-id="isotope-list">
      <%= render @students %>
    </ul>
  </div>


  <h2>Last recomendations</h2>

  <div id="blog" class="row">
    <div class="container">
      <ul class="masonry-list">
        <%
           #render @last_reviews
        %>
      </ul>
    </div>
  </div>

  <hr>



  <div class="bs-callout text-center nomargin-bottom">
    <h3>
      Do you like our project? Tell about us your friends!
    </h3>
  </div>
</section>

